.container {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 1rem;
    border-radius: 10px;
    transition: background-color 0.2s ease-out;
}

.container:hover {
    background-color: color-mix(in srgb, var(--weather-background), white 10%);
}

.condition {
    font-size: 1.25rem;
    font-weight: bold;
}

.temperature {
    color: #c9c9c9;
}