.container {
    --button-primary: #ccc;
    --button-secondary: #000;
    --button-primary-hover: #14b814;
    --button-secondary-hover: #ffff;
    --suggestion-color: #686969;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.search {
    display: flex;
    gap: 8px;
    width: 100%;
}

.input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    outline: none;
    font-family: inherit;
    transition: border-color 0.2s;
}

.input:focus {
    border-color: #2e72bb;
}

.button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    background-color: var(--button-primary);
    color: var(--button-secondary);
    transition: background-color 0.5s, color 0.5s;
}

.button:hover {
    background-color: var(--button-primary-hover);
    color: var(--button-secondary-hover);
}

.button:active {
    transform: scale(0.97);
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    margin: 4px 0 0;
    padding: 0;

    list-style: none;

    background: var(--suggestion-color);
    border: 2px solid color-mix(in srgb, var(--suggestion-color), black 15%);
    border-radius: 8px;

    overflow: hidden;
    z-index: 10;
}

.suggestions button {
    display: block;
    width: 100%;

    padding: 0.75rem 1rem;

    border: none;
    background: transparent;

    text-align: left;
    cursor: pointer;
}

.suggestions button:hover {
    background: color-mix(in srgb, var(--suggestion-color), white 15%);
}