.container {
    --primary-color: #27393f;
    --secondary-color: #A0B8E9;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.5rem;
    align-self: center;
    text-align: center;
    padding: 1rem 2rem;
    width: fit-content;
    background-color: var(--primary-color);
    border: solid 2px var(--secondary-color);
    border-radius: 10px;
    place-items: center;
}

.current {
    color: var(--secondary-color);
    padding: 0.5rem;
}

.location {
    font-size: 2rem;
}

.temperature {
    font-size: 3rem;
}

.condition {
    font-size: 1.5rem;
}

.icon {
    width: auto;
    height: 100%;
}