.container {
    --primary-color: #27393f;
    --secondary-color: #A0B8E9;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.5rem;
    align-self: center;
    text-align: center;
    padding: 1rem 2rem;
    width: fit-content;
    border: solid 2px var(--secondary-color);
    border-radius: 10px;
    place-items: center;
    background-position: center;
    background-size: cover;
}

.current {
    color: var(--secondary-color);
    padding: 0.5rem;
}

.location {
    font-size: 2rem;
}

.temperature {
    font-size: 3rem;
}

.condition {
    font-size: 1.5rem;
}

.icon {
    width: auto;
    height: 100%;
}

.rainy {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                        url("/weather/rainy.jpg");
}

.sunny {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                        url("/weather/sunny.jpg");
}

.snow {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                        url("/weather/snow.jpg");
}

.cloudy {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                        url("/weather/cloudy.jpg");
}

.stormy {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("/weather/storm.jpg");
}

.foggy {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("/weather/foggy.jpg");
}

.wintry {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("/weather/wintry.jpg");
}

.dusty {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("/weather/dusty.jpg");
}

.default {
    background-color: var(--primary-color);
}